#profile-ico {
  height: 150px;
  border-radius: 50%;
  position: absolute;
  right: 150px;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.4em;
}

p {
  font-size: 1.2em;
}

body {
  height: auto;
  width: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  min-width:240px;
  color:var(--Texto);
}

.dark-mode {
  background-color: var(--Destaque);
  --Textlinks:#f5f5f5;
  --Texto: #e3622f;
}

:root {
  --Texto: #b04a22;
  --Textlinks:#f5f5f5;
  --Background: #f5f5f5;
  --Background-alternativo: #808080;
  --Destaque: #1a1a1a;
}
   

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Destaque);
  color: var(--Textlinks);
  padding: 0.5rem 1rem;
  max-width: 100vw;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0% 5%;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--Textlinks);
  padding: 0% 5%;
  text-decoration: none;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  color: var(--Textlinks);
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar-brand{
  max-width:250px;
  width: 50%;
}

.nav-icon {
  display: none;
}

.nav-item > a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--Textlinks);
  margin: 5px;
  padding: 5px;
}

.nav-item > a:hover {
  border-style: none;
  color: var(--Background);
  padding: 5px;
}

#main{
  font-size:1.4em;
}

#backToTop {
  position: fixed;
  border-radius: 100px;
  border:none;
  padding: 20px;
  bottom: 5vw;
  right: 5vw;
  color: var(--Background);
  background-color: var(--Texto);
}

#main{
  padding: 5% 10% 5% 10%;
}

.content-section {
  background-color: black;
  padding: 5% 10% 5% 10%;
  font-size: 1.02em;
}

.presentation-section {
  background-color: none;
  padding: 5% 10% 5% 10%;
  font-size: 0.9em;
}

.title {
  text-align:center;
  font-weight:bolder;
  text-transform:capitalize;
}

.projects{
  padding: 80px 60px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
}

.projects-item{
  background-color:var(--Destaque);
  border-radius:30px;  
  width: 250px;
  min-width: 250px;
  flex-grow: 1;
  text-align:center;
  padding: 0px 10px;
  overflow: hidden;
}

.projects-imagem > img{
  padding-top: 5px;
  border-radius: 30px 30px 0px 0px;
  width: 100%;
}

div > .description{
  justify-content: center;
  align-items: center;
  margin:3px;
}

div > .projects-item > a {
  text-decoration:none;
  background-color:black;
  color: white;
  padding:1px 10px;
  border-radius:20%;
}

footer {
  background-color: rgba(55, 55, 55, 0.5);
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  vertical-align: baseline;
}

footer > p {
  font-weight:bold;
  padding:10px;
  font-size:0.9em;
}

@media (max-width: 610px) {
  #profile-ico {
    height: 75px;
    border-radius: 50%;
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: absolute;
    right: 0;
  }

  .navbar {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  .navbar-nav {
    display: none;
  }

  .navbar-nav > a,button {
    width:auto;
    margin:3% auto;
    text-decoration: none;
    font-size: 1em;
    display: block;
    position: relative;
  }

  .nav-icon {
    background: none;
    display: block;
    position: baseline;
    border:none;
    color: var(--Texto);
  }

  .navbar-nav > a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .projects{
    flex:none;
    padding:0;
  }

  .active {
    background-color: #04aa6d;
    color: white;
  }

  .content-section {
    background-color: var(--Destaque);
    padding: 5% 10% 5% 10%;
    font-size: 0.9em;
  }

  .presentation-section {
    background-color: none;
    padding: 5% 10% 5% 10%;
    font-size: 0.9em;
  }
}