body{
    background-color: black;
    color:aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 25px;
}
#introduction{
    font-size: 3rem;
}
.nav{
    min-height: 100px;
    text-align: end;
    display: static;
}

.nav > a {
    font-size: 1.4rem;
}

section {
    min-width: 200px;
    min-height: 200px;
}

.main-section > projects {
    background-color: antiquewhite!important;
}